# Rust typische Ignores
/target/
/**/*.rs.bk
**/*.rs.bk

# Cargo Lockfile (manche Teams ignorieren es, manche nicht)
/Cargo.lock

# Editor- und OS-Dateien
*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.log

# Test C Projekt ignorieren
/test-c-project/
